h2 {
  margin-bottom: 30px;
}
.search {
  margin-bottom: 30px;
  &_block {
    display: flex;
    align-items: flex-start;
  }
  &_icon {
    cursor: pointer;
    margin-right: 20px;
  }

  input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(39, 47, 90, 0.32);
  }
}

.sort {
  display: flex;
  &_text {
    margin-right: 8px;
    margin-bottom: 0;
    align-self: center;
  }
}