.user {
  &_header {
    margin-bottom: 0;
    &-btn {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}

.row {
  margin-bottom: 30px;
  &_data {
    border-bottom: 1px solid  #DCDEE4;
  }
  & .data {
    position: relative;
    margin-bottom: 10px;
    padding-left: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #189EE9;
    &::before {
      position: absolute;
      bottom: -11px;
      left: 0;
      content: '';
      width: 127px;
      height: 2px;
      background-color: #189EE9;
    }
  }
}

.user_info {
  padding-right: 40px;
}
