.user {
  &_header {
    margin-bottom: 0;
    &-btn {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  &_info {
    padding-right: 40px;
  }
}

.row {
  margin-bottom: 30px;
  &_data {
    border-bottom: 1px solid  #DCDEE4;
  }
  & .data {
    position: relative;
    margin-bottom: 10px;
    padding-left: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: #189EE9;
    &::before {
      position: absolute;
      bottom: -11px;
      left: 0;
      content: '';
      width: 127px;
      height: 2px;
      background-color: #189EE9;
    }
  }
}

.tool_tip {
  position: absolute;
  top: 9px;
  left: -95px;
  width: 110px;
  height: 30px;
  display: block;
  border: 1px solid;
  padding: 5px;
  line-height: 16px;
  border-radius: 8px;
  background-color: #f3f5f6;
  &-close {
    display: none;
  }
}