.task {
  display: flex;
  justify-content: space-between;
}
.timer > span:first-child {
  margin-left: 50px;
}

.timer > span:last-child {
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}