
.ant-tag-geekblue {
  padding: 4px 8px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  background: #272F5A;
  border-radius: 2px;
  border-color: #272F5A;
  color: #ffffff;
}
.ant-tag-volcano {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  background: #FC525B;
  border-radius: 2px;
  border-color: #FC525B;
  color: #ffffff;
}

.row_style {
  color: rgba(39, 47, 90, 0.8);
}