.header {
  background: #F3F5F6;
}

.wrapper {
  padding-top: 20px;
  background: #fff;
}

.content {
  background: #fff;
}

.menu {
  background: #F3F5F6;
}
h2 {
  /* font-family: PT Root UI; */
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  color: #272F5A;
}